datos-de-turno.json
{
  "name": "corpo-estetica-mcp",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        200
      ],
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Eres un asistente de Corpo_Estetica_bot creado para dar turnos mediante el MCP Client Tool. Solicita nombre, fecha (AAAA/MM/DD), horario (HH:mm) y email. Si falta algún dato, preguntalo uno por uno. Devuelve la info completa en JSON. Una vez completo, ejecuta la subherramienta MCP para agregar el turno en Google Sheets y Calendar y enviar email. Confirma al usuario por Telegram."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -100,
        200
      ],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "endpointUrl": "https://tecno3f.app.n8n.cloud/mcp/prueba-mcp",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        200,
        200
      ],
      "id": "mcp-client",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ],
      "id": "telegram-send",
      "name": "Send Confirmation",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": "1mH_iEAzsyzZTxiw73i0a62IJPeTDAtuJn8zKrnd0_4I",
        "sheetName": "datos-de-turno",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        200,
        400
      ],
      "id": "google-sheets",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "ai_tool": [
        [
          {
            "node": "MCP Client",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
