tareas.json
{
  "name": "Bot de Tareas",
  "nodes": [
    {
      "parameters": {
        "resource": "message",
        "event": "message"
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "rules": [
          { "value1": "{{$json[\"message\"]}}", "operation": "contains", "value2": "/agregar" },
          { "value1": "{{$json[\"message\"]}}", "operation": "contains", "value2": "/listar" },
          { "value1": "{{$json[\"message\"]}}", "operation": "contains", "value2": "/hecha" }
        ]
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "tarea", "value": "={{$json[\"message\"].replace('/agregar ', '')}}" },
            { "name": "estado", "value": "Pendiente" },
            { "name": "fecha", "value": "={{$now.format('YYYY-MM-DD')}}" }
          ]
        }
      },
      "name": "Set - Agregar Tarea",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "sheetId": "tareas",
        "range": "tareas",
        "valueInputMode": "RAW"
      },
      "name": "Google Sheets - Agregar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "credentials": {
        "googleSheetsOAuth2": "Google Sheet y Google Calendar"
      },
      "position": [800, 200]
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "✅ Tarea agregada: {{$json[\"tarea\"]}}"
      },
      "name": "Telegram Send - Agregar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "sheetId": "tareas",
        "range": "tareas",
        "options": {
          "filter": "estado = 'Pendiente'"
        }
      },
      "name": "Google Sheets - Leer Pendientes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "credentials": {
        "googleSheetsOAuth2": "Google Sheet y Google Calendar"
      },
      "position": [600, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "text", "value": "={{$json[\"id\"]}}️⃣ {{$json[\"tarea\"]}}" }
          ]
        }
      },
      "name": "Set - Formatear Lista",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [800, 400]
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "={{$json[\"text\"]}}"
      },
      "name": "Telegram Send - Listar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "id", "value": "={{$json[\"message\"].split(' ')[1]}}" }
          ]
        }
      },
      "name": "Set - Extraer ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [600, 600]
    },
    {
      "parameters": {
        "sheetId": "tareas",
        "range": "tareas",
        "options": {},
        "updateKey": "id",
        "updateValue": "={{$json[\"id\"]}}",
        "data": [
          {
            "json": {
              "estado": "Hecha"
            }
          }
        ]
      },
      "name": "Google Sheets - Actualizar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "credentials": {
        "googleSheetsOAuth2": "Google Sheet y Google Calendar"
      },
      "position": [800, 600]
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "✅ Tarea {{$json[\"id\"]}} marcada como hecha."
      },
      "name": "Telegram Send - Hecha",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1000, 600]
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "📌 Comandos disponibles:\n/agregar tarea → Agregar tarea\n/listar → Ver tareas\n/hecha id → Completar tarea\n/ayuda → Ver ayuda"
      },
      "name": "Telegram Send - Ayuda",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [800, 800]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Switch", "type": "main", "index": 0}]]
    },
    "Switch": {
      "main": [
        [{"node": "Set - Agregar Tarea", "type": "main", "index": 0}],
        [{"node": "Google Sheets - Leer Pendientes", "type": "main", "index": 0}],
        [{"node": "Set - Extraer ID", "type": "main", "index": 0}],
        [{"node": "Telegram Send - Ayuda", "type": "main", "index": 0}]
      ]
    },
    "Set - Agregar Tarea": {"main": [[{"node": "Google Sheets - Agregar", "type": "main", "index": 0}]]},
    "Google Sheets - Agregar": {"main": [[{"node": "Telegram Send - Agregar", "type": "main", "index": 0}]]},
    "Google Sheets - Leer Pendientes": {"main": [[{"node": "Set - Formatear Lista", "type": "main", "index": 0}]]},
    "Set - Formatear Lista": {"main": [[{"node": "Telegram Send - Listar", "type": "main", "index": 0}]]},
    "Set - Extraer ID": {"main": [[{"node": "Google Sheets - Actualizar", "type": "main", "index": 0}]]},
    "Google Sheets - Actualizar": {"main": [[{"node": "Telegram Send - Hecha", "type": "main", "index": 0}]]}
  }
}